<div class="container">
    <div class="row justify-content-md-center mt-5" *ngIf="!currentFolder">
        <div class="col-12 text-center">
            Loading...
        </div>
    </div>
    <div class="row justify-content-md-center mt-5" *ngIf="currentFolder">
        <div class="col-12 d-flex flex-row-reverse">
            <button class="btn btn-success btn-sm-4-5" (click)="createNewQuizClick()">
                <i class="bi bi-plus-lg"></i>
            </button>


            <button class="btn btn-success btn-sm-4-5 me-1" (click)="downloadQuizes()" title="{{previousFolders.length ? 'Works only from root folder':''}}"
                style="pointer-events: auto;">
                <i class="bi bi-download"></i>
            </button>

            <input type="file" id="files" class="hidden" style="display:none;" (change)="uploadQuizzes($event)" />
            <button class="btn btn-success btn-sm-4-5 me-1" [disabled]="previousFolders.length"
                title="{{previousFolders.length ? 'Works only from root folder':''}}" style="pointer-events: auto;">
                <label for="files"><i class="bi bi-upload"></i></label></button>

        </div>
    </div>

    <div class="row justify-content-md-center" *ngIf="currentFolder">
        <div class="col-12">
            <div *ngIf="currentFolder?.subFolders">
                <table>
                    <tr class="fit-content">
                        <td>
                            <button class="btn btn-secondary btn-sm-4-5 me-1" (click)="backClick()" [disabled]="!previousFolders.length">
                                <i class="bi bi-arrow-left"></i>
                            </button>
                        </td>
                        <td> <i class="bi bi-folder-fill text-warning"></i></td>
                        <td *ngFor="let f of previousFolders">
                            <span (click)="backFolderClick(f)"><u>{{ f.name }}</u></span> /
                        </td>
                        <td>{{currentFolder.name}}</td>
                    </tr>
                </table>

                <table class="table table-hover table-bordered rounded-3 mt-3 py-1" *ngIf="currentFolder.subFolders.length">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="fit-content">Passed > 0</th>
                            <th class="fit-content">Passed 0</th>
                            <th class="fit-content">L5 %</th>
                            <th class="fit-content">L10 %</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subFolder of currentFolder.subFolders" (click)="folderClick(subFolder)">
                            <td>
                                <i class="bi bi-folder-fill text-warning"></i>
                                <span class="ms-1">{{subFolder.name}}</span>
                            </td>
                            <td class="fit-content text-end">
                                <span *ngIf="subFolder.stats.passed">{{subFolder.stats.passed}}</span>
                            </td>
                            <td class="fit-content text-end">
                                <span *ngIf="subFolder.stats.noPassedTests">{{subFolder.stats.noPassedTests}}</span>
                            </td>
                            <td class="fit-content text-end">
                                {{subFolder.stats.getLast5Rate()}}
                            </td>
                            <td class="fit-content text-end">
                                {{subFolder.stats.getLast10Rate()}}
                            </td>
                        </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

    <div class="row justify-content-md-center mt-2" *ngIf="currentFolder?.quizzes?.length">
        <div class="col-12">
            <table class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th class="fit-content">#</th>
                        <th>Quiz name</th>
                        <th class="fit-content">Passed</th>
                        <th class="fit-content">L5 A %</th>
                        <th class="fit-content">L10 A %</th>
                        <th class="fit-content">Fields</th>
                        <th class="fit-content">Questions</th>
                        <th class="fit-content"></th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let quiz of currentFolder!.quizzes; let i = index">
                        <td class="fit-content">{{i + 1}}</td>
                        <td>{{quiz.name}}</td>
                        <td class="fit-content">{{quiz.passedCount}}</td>

                        <td class="fit-content" *ngIf="quiz.last5AnswerSuccessRate">{{quiz.last5AnswerSuccessRate |percent:'1.2-2' }}</td>
                        <td class="fit-content" *ngIf="!quiz.last5AnswerSuccessRate"><i class="bi bi-question"></i></td>

                        <td class="fit-content" *ngIf="quiz.last10AnswerSuccessRate">{{quiz.last10AnswerSuccessRate |percent:'1.2-2' }}</td>
                        <td class="fit-content" *ngIf="!quiz.last10AnswerSuccessRate"><i class="bi bi-question"></i></td>
                        <td class="fit-content">{{quiz.fields}}</td>
                        <td class="fit-content">{{quiz.data}}</td>
                        <td class="fit-content">
                            <button class="btn btn-primary btn-sm-4-5 btn-success me-1" (click)="runQuiz(quiz)">
                                <i class="bi bi-play-fill"></i>
                            </button>
                            <button class="btn btn-primary btn-sm-4-5 btn-success me-1" (click)="downloadQuiz(quiz)">
                                <i class="bi bi-download"></i>
                            </button>
                            <button class="btn btn-primary btn-sm-4-5 btn-success me-1" (click)="editQuizClick(quiz)">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button class="btn btn-danger btn-sm-4-5" (click)="deleteQuizClick(quiz)">
                                <i class="bi bi-x-lg"></i>
                            </button>
                        </td>
                    </tr>

            </table>
        </div>
    </div>
</div>