<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-8 text-center">
            <h3>{{ quizName }}</h3>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" *ngIf="!showReport && !checked && currentQuestionIndex === 0">
        <div class="col-8 d-flex flex-row-reverse">
            <button type="button" class="btn btn-warning" (click)="shuffleQuestions()">Shuffle</button>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" *ngIf="!showReport">
        <div class="col-8">
            <table class="table">
                <tr>
                    <td *ngFor="let question of questions; let i = index" style="height: 12px;min-height: 12px; border: 1px solid white;"
                        [class.bg-danger]="question.correctAnswerGiven === false" [class.bg-success]="question.correctAnswerGiven === true"
                        [class.bg-secondary]="question.correctAnswerGiven === null && i !== currentQuestionIndex"
                        [class.bg-primary]="i === currentQuestionIndex">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" *ngIf="!showReport">
        <div class="col-8">
            <form [formGroup]="form">
                <div class="mb-1" *ngFor="let field of questions[currentQuestionIndex].questionFields">
                    <label for="{{field.name}}" class="form-label">{{field.name}}</label>
                    <input formControlName="{{field.name}}" type="text" class="form-control form-control-sm" id="{{field.name}}">
                </div>

                <div class="mb-1" *ngFor="let field of questions[currentQuestionIndex].answerFields">
                    <label for="{{field.name}}" class="form-label">{{field.name}}</label>
                    <input formControlName="{{field.name}}" type="text" class="form-control form-control-sm" id="field-{{field.name}}" (keydown.enter)="onSubmit()"
                        [class.is-invalid]="field.userValue !== undefined && field.userValue !== field.value"
                        [class.is-valid]="field.userValue !== undefined && field.userValue === field.value" [attr.aria-describedby]="field.name">
                    <div id="{{field.name}}" class="invalid-feedback">
                        Correct answer: {{field.value}}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" *ngIf="!showReport">
        <div class="col-8 d-flex flex-row-reverse">
            <button type="button" class="btn" [class.btn-primary]="checked" [class.btn-success]="!checked" (click)="onSubmit()">{{ checked ? "Next" :
                "Check"}}</button>
        </div>
    </div>

    <div class="row" *ngIf="showReport">
        <div class="col-12">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fit-content"></th>
                        <th *ngFor="let field of questions[0].questionFields">{{field.name}}</th>
                        <th *ngFor="let field of questions[0].answerFields">{{field.name}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let question of questions; let i = index">
                        <td class="fit-content">{{ i + 1 }}</td>
                        <td *ngFor="let field of question.questionFields">{{field.value}}</td>
                        <td *ngFor="let field of question.answerFields">
                            <span [class.text-danger]="field.userValue !== undefined && field.userValue !== field.value"
                                [class.text-success]="field.userValue !== undefined && field.userValue === field.value">{{field.userValue ?? "N/A"}}</span>
                            
                            <span *ngIf="field.userValue !== undefined && field.userValue !== field.value"> (<span class="text-success">{{field.value}}</span>)</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>