<div class="container mt-4">
    <div class="row justify-content-md-center">
        <div class="col-5 text-center">
            <h3>{{ quizName }}</h3>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-5 text-center">
            <h6>{{ quizGroup }}</h6>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" *ngIf="!showReport">
        <div class="col-5">
            <table class="table">
                <tr>
                    <td *ngFor="let question of questions; let i = index" style="height: 6px;min-height: 6px; border: 1px solid white;"
                        [class.bg-danger]="question.correctAnswerGiven === false" [class.bg-success]="question.correctAnswerGiven === true"
                        [class.bg-secondary]="question.correctAnswerGiven === null && i !== currentQuestionIndex"
                        [class.bg-primary]="i === currentQuestionIndex">
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" *ngIf="!showReport">
        
        <div class="col-5">
            <form [formGroup]="form">
                <div class="mb-1" *ngFor="let field of questions[currentQuestionIndex].questionFields"> 
                    <h3 class="text-center">{{field.value}}</h3>
                </div>

                <div class="mt-3 mb-1" *ngFor="let field of questions[currentQuestionIndex].answerFields">
                    <input #firstAnswer formControlName="{{field.name}}" type="text" class="form-control form-control-sm" id="field-{{field.name}}" (keydown.enter)="onSubmit()"
                        [class.is-invalid]="field.userValue !== undefined && field.userValue !== field.value"
                        [class.is-valid]="field.userValue !== undefined && field.userValue === field.value" [attr.aria-describedby]="field.name"
                        placeholder="{{field.name}}">
                    <div id="{{field.name}}" class="invalid-feedback">
                        Correct answer: {{field.value}}
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row justify-content-md-center mt-3" *ngIf="!showReport">
        <div class="col-5 d-flex flex-row-reverse">
            <button type="button" class="btn" [class.btn-primary]="checked" [class.btn-success]="!checked" (click)="onSubmit()">{{ checked ? "Next" :
                "Check"}}</button>
        </div>
    </div>

    <div class="row" *ngIf="showReport">
        <div class="col-12">
            <button class="btn btn-success float-end" (click)="onRestart()">Retake</button>
            <button class="btn btn-secondary float-end me-2" (click)="backToList()">Back to List</button>
        </div>
    </div>

    <div class="row mt-3" *ngIf="showReport">
        <div class="col-12">
            <table class="table table-bordered">
                <tbody>
                    <tr>
                        <th>Correct Questions</th>
                        <td>{{ getCorrectQuestions() }} ({{getCorrectQuestions()/ questions.length* 100| number:'1.0-1'}}%)</td>
                    </tr>
                    <tr>
                        <th>Incorrect Questions</th>
                        <td>{{ questions.length - getCorrectQuestions() }} ({{100-getCorrectQuestions()/ questions.length* 100| number:'1.0-1'}}%)</td>
                    </tr>
                    <tr>
                        <th>Correct Answers</th>
                        <td>{{ getCorrectAnswers() }} ({{getCorrectAnswers()/(questions.length * questions[0].answerFields.length)*100| number:'1.0-1'}}%)</td>
                    </tr>
                    <tr>
                        <th>Incorrect Answers</th>
                        <td>{{ questions.length * questions[0].answerFields.length - getCorrectAnswers() }} ({{100-getCorrectAnswers()/(questions.length * questions[0].answerFields.length)*100| number:'1.0-1'}}%)</td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="fit-content"></th>
                        <th *ngFor="let field of questions[0].questionFields">{{field.name}}</th>
                        <th *ngFor="let field of questions[0].answerFields">{{field.name}}</th>
                    </tr>
                </thead>

                <tbody>
                    <tr *ngFor="let question of questions; let i = index">
                        <td class="fit-content">{{ i + 1 }}</td>
                        <td *ngFor="let field of question.questionFields">{{field.value}}</td>
                        <td *ngFor="let field of question.answerFields">
                            <span [class.text-danger]="field.userValue !== undefined && field.userValue !== field.value"
                                [class.text-success]="field.userValue !== undefined && field.userValue === field.value">{{field.userValue ?? "N/A"}}</span>
                            
                            <span *ngIf="field.userValue !== undefined && field.userValue !== field.value"> (<span class="text-success">{{field.value}}</span>)</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>