/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

// regular style toast
@import 'ngx-toastr/toastr';



// if you'd like to use it without importing all of bootstrap it requires
@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';

// boostrap 5
@import 'ngx-toastr/toastr-bs5-alert';

.btn-sm-3-5 {
    --bs-btn-padding-y: 0.15rem;
    --bs-btn-padding-x: 0.3rem;
    --bs-btn-font-size: 0.525rem;
}

.btn-sm-4-5 {
    --bs-btn-padding-y: 0.2rem!important;
    --bs-btn-padding-x: 0.4rem!important;
    --bs-btn-font-size: 0.7rem!important;
}